<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="_Spring"/>
	
	<bean name="user" class="_Spring.User" init-method="init">
		<constructor-arg index="0" value="1"></constructor-arg>
		<constructor-arg index="1" value="20"></constructor-arg>
		<constructor-arg index="2" value="zy"></constructor-arg>
	</bean>

	<bean name="target" class="_Spring.Target">
		<property name="user" ref="user"></property>
	</bean>
	
	<aop:aspectj-autoproxy/>
	<!-- <bean name="aspectTest" class="_Spring.AspectTest"/> -->
	
	<bean name="pointcutMethod" class="_Spring.PointcutMethod"></bean>
	<aop:config>
		<aop:aspect id="myAspect" ref="pointcutMethod" order="100">
			<aop:pointcut expression="execution(* display(..))" id="myPointcut"/>
			<aop:before method="before" pointcut-ref="myPointcut"/>
		</aop:aspect>	
	</aop:config>
	
</beans>
