<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean name="bean" class="_Spring.Bean">
		<constructor-arg index="0" value="1"></constructor-arg>
		<constructor-arg index="1" value="zy"></constructor-arg>
		<constructor-arg index="2" value="20"></constructor-arg>
	</bean>
	
	<bean id="target" class="_Spring.Target">
		<property name="bean" ref="bean" />
	</bean>

</beans>
